* {
  font-family: "Inter", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

.card-wrapper {
  margin: 0 70px 0 70px;
}

.navbar-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar-left h1 {
  font-size: 30px;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-right-button {
  width: 80px;
  height: 40px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 2px 2px;
}

.nrbm {
  background-color: black;
  color: white;
}

.navbar-responsive {
  display: none;
}

.home-button-remote-ctc {
  position: fixed;
  z-index: 10;
  right: 0.7%;
  bottom: 2%;
}

.home-button {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cart-button {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cart-button img {
  width: 50px;
  height: 50px;
}

.cart-button-inner_ctc {
  width: 10px;
  height: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 5px;
  position: fixed;
  right: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 1 */

.section-f1-element {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

.section-heading-image {
  margin-right: 70px;
}

.section-heading-image img {
  width: 900px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 8px 8px 10px black;
}

.section-heading-image:hover {
  scale: 1.05;
  transition: all 0.7s ease;
}

.section-heading-default {
  width: 600px;
  margin-left: 70px;
  margin-top: 100px;
}

.section-heading-title h1 {
  font-size: 50px;
  margin: 0;
}

.section-heading-content p {
  margin-top: 20px;
  font-size: 25px;
  line-height: 35px;
}
.section-heading-button {
  margin-top: 30px;
}

.section-heading-ctn-btn {
  display: flex;
  width: 100px;
  height: 50px;
  background-color: black;
  border-radius: 7px;
  cursor: pointer;
}

.section-heading-ctn-btn a {
  width: 100px;
  height: 50px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 2 */

.section-f2-element {
  margin-top: 140px;
}

.section-f2-title h1 {
  font-size: 50px;
  margin: 0;
}

.section-f2-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.section-f2-card {
  font-size: 20px;
  background-color: #f3f3f3;
  padding: 10px 25px;
  border-radius: 70px;
}

.section-f2-card-1 img {
  width: 400px;
  height: 400px;
}

.section-f2-card-2 img {
  width: 400px;
  height: 400px;
}

.section-f2-card-3 img {
  width: 400px;
  height: 400px;
}

.section-f2-card h3 {
  text-align: center;
  width: auto;
}

.section-f2-card p {
  width: 400px;
  height: 220px;
  line-height: 25px;
}

/* SECTION 3 */

.section-f3-element {
  margin-top: 140px;
}

.section-f3-title h1 {
  font-size: 50px;
  margin: 0;
}

.section-f2-card-button-ctn {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.section-f2-card-btn {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* FAVORITES - WORKING */

.section-f3-element {
  display: none;
}

/* FOOTER */

.footer-f-wrapper {
  margin: 0 100px 0 100px;
}

.footer-a-container {
  background-color: black;
  height: 150px;
  margin-top: 100px;
}

.footer-a-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.footer-a-content-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-a-content-heading h1 {
  font-size: 30px;
  margin: 0;
}

.footer-a-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.footer-a-content-sec {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 10px;
}

.footer-a-content-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.footer-a-content-logo img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-a-content-center {
  display: flex;
  align-items: flex-end;
}

.footer-a-content-center h3 {
  margin: 0;
  letter-spacing: 2px;
  color: white;
}

.footer-a-content-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-a-content-right h3,
h4 {
  font-size: 20px;
  color: white;
  margin: 0;
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  /* NAVBAR */
  .navbar-default {
    display: none;
  }
  /* END */

  /* RESPONSIVE-NAVBAR */
  .navbar-responsive {
    display: block;
  }

  .navbar-responsive-default {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px black;
  }

  .navbar-responsive-default h1 {
    margin: 0;
  }

  .navbar-responsive-inner-logo {
    display: flex;
    cursor: pointer;
  }

  .navbar-responsive-inner-logo img {
    width: 40px;
    height: 40px;
  }

  /* END */

  /* NAVBAR INNER */

  .navbar-responsive-inner {
    background-color: black;
    width: 100%;
    height: 50px;
    display: none;
  }

  .navbar-responsive-inner-link {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-responsive-inner-link-btn {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 6px 10px;
    border-radius: 20px 10px;
    box-shadow: 0 0 5px white;
  }

  /* END */

  /* SECTION 1 */

  .section-f1-element {
    flex-direction: column;
    margin-top: 0;
    align-items: center;
  }

  .section-heading-default {
    margin-left: 0;
    width: 350px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-heading-title h1 {
    font-size: 35px;
  }

  .section-heading-button {
    margin-top: 0;
  }

  .section-heading-image {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .section-heading-image img {
    width: 350px;
    height: 250px;
    margin-top: 50px;
    box-shadow: none;
  }
  /* END */

  /* SECTION 2 */

  .section-f2-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-f2-cards {
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
    width: 300px;
    gap: 40px;
  }

  .section-f2-title {
    margin: 0;
    width: 300px;
    text-align: center;
  }

  .section-f2-title h1 {
    font-size: 35px;
  }

  .section-f2-card {
    box-shadow: 0 0 10px black;
    padding: 0 10px;
  }

  .section-f2-card img {
    width: 280px;
    height: 300px;
  }

  .section-f2-card p {
    font-size: 14px;
    width: auto;
    text-align: center;
  }

  /* END */

  /* IN WORKING FOR RESPONSIVE */

  /* SECTION 3 - In working */

  .section-f3-element {
    display: none;
  }

  /* FOOTER */

  .footer-a-element {
    display: block;
  }

  .footer-a-content-center h3 {
    font-size: 12px;
  }

  .footer-a-content-left {
    gap: 20px;
  }

  .footer-a-content-right {
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .footer-a-content-right h4 {
    margin: 0;
    color: white;
  }

  .footer-a-content-center {
    justify-content: center;
  }

  .footer-a-container {
    height: auto;
    padding: 10px 0 2px 0;
  }

  .footer-a-inner {
    margin: 0;
    display: block;
  }

  .footer-a-content-sec {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}
